p {
  color: green;
}
#titol {
    font-size: 40px;
    text-decoration: underline;
}
.text-important {
    color: red;
    font-weight: bold;
}   
.vermell{
    color: red;
}
.gran {
   font-size: 24px; 
}
.negreta{
    font-weight: bold;
}
.subratllat{
    text-decoration: underline;
}
.blau{
    color: blau;
}
